<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
       <!-- <input type="text" v-model="val"> -->
       <!-- <input type="radio" v-model='sex' value="1">男
       <input type="radio" v-model='sex' value="2">女 -->
       <input type="checkbox" v-model="hobby" value="爬山">爬山
       <input type="checkbox" v-model="hobby" value="游泳">游泳
       <input type="checkbox" v-model="hobby" value="跳伞">跳伞
       <input type="checkbox" v-model="hobby" value="挣钱">挣钱
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        //视图影响数据--》dom监听
        //数据影响视图 -->ObjectdefineProperty
        //在单选框中使用v-model 被选中的那一项，会把input框的value赋值给 sex;v-model绑定同一个属性，那么会互斥；通过v-model来绑定互斥的属性

        //在复选框中使用v-model ，如果hobby是个普通的值，那么会默认转布尔，同事这个布尔值会控制所有的复选框选中或不选中状态；//hobby还可以是个数组；选中哪个input框就会把谁的input的value放进数组中
        let vm = new Vue({
            el:"#app",
            data:{
               val:'111',
               sex:1,
               hobby:['挣钱']//如果是数字会把这个数字转成布尔之后在选中；如果是true就都选中，否则反之
            }         
        });
    </script>
</body>
</html>